<div class="col-md-12">
  <div class="group">
    <%= link_to("New Novel", new_novel_path, class:"btn btn-outline-primary float-right") %>
  </div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody>
    <% @novels.each do |novel| %>
    <tr>
      <td>#</td>
      <td><%= link_to(novel.title, novel_path(novel), class: "text-dark", style: "text-decoration: none;") %></td>
      <td><%= novel.author %></td>
      <td>
        <%= link_to("Edit", edit_novel_path(novel), class: "btn btn-outline-info") %>
        <%= link_to("Delete", novel_path(novel), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?"}) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  
</div>