<%= simple_form_for [:admin, @novel] do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :tag_list, value: f.object.tag_list.to_s %>
    <%= f.input :author %>
    <%= f.input :lead %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>